<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-burgerDevoured="{{devour}}">
		{{#if devour}}devour TIME!{{else}}Eat UP!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
